.nav {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-logo .logo {
  max-height: 5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav-links li a:hover {
  color: #4da4ab;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.get-started {
  padding: 0.5rem 1rem;
  background-color:#4da4ab;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.get-started-mobile {
  display: none;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 120px;
    right: 0;
    background: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .get-started {
    display: none;
  }

  .get-started-mobile {
    display: block;
    padding: 0.5rem 1rem;
    background-color:#4da4ab;
    border-radius: 5px;
    color:white;
  }
  .menu-icon {
    display: block;
  }
}
