.faq {
  margin-top: 13rem;
  margin-bottom: 5rem;
}

.faq__header {
  text-align: center;
}
.faq__header h2 {
  font-size: 2.5rem;
}
.faq__header p {
  font-size: 1.5rem;
  color: #929ba8;
}

.faq__list {
  list-style: none;
  padding: 0 2rem;
  width: 70%;
  margin: 2rem auto;
  border: 1px solid #929ba8;
}

.faq__item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}


.faq__answer {
  padding: 0.5rem 1.2rem;
  color: #555;
  line-height: 1.5;
  font-size: 1.3rem;
}

.faq__item.open .faq__question {
  color: #4da4ab;
}

.faq__question {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555; /* Always black */
}

.faq__item.open .faq__question {
  color: #4da4ab; /* Ensure it stays black when open */
}


/* QUERIES */
@media screen and (max-width:768px){

.faq {
  margin-top: 10rem;
  padding: 0 1rem;
}
.faq__header h2 {
  font-size: 2.1rem;
}
.faq__header p {
  font-size: 1rem;
  color: #929ba8;
}
.faq__list {
  padding: 0 0.5rem;
  width: 100%;
  margin: 1rem auto;
}

.faq__item {
  border-bottom: 1px solid #ccc;
  padding: 0rem 0;
}
.faq__question {
 
  font-size: 1.25rem;
}
}